{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<script src="{% static 'funciones.js' %}"></script>




<div class="card registration-card">
    <div class="card-body">
        <h6 class="registration-title mb-4"> Editar Producto: {{ form.EntradaProductoForm.nombre }} </h6>
                
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="d-flex flex-column">
                         
                        <label for="nombre">Nombre</label>
                        {{ form.nombre }}

                        <label for="descripcion">Descripción</label>
                        {{ form.descripcion }}

                        

                        
                    </div>
                    {% if form.errors %}
                        <div class="invalid-feedback-custom">
                            {% for field in form %}
                              {% for error in field.errors %}
                                <p class="error">{{ error }}</p>
                              {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="d-flex flex-column">

                        <label for="categoria">Categoría</label>
                        {{ form.categoria }}
                       

                        <label for="cantidad_minima">Cantidad Mínima</label>
                        {{ form.cantidad_minima }}

                    </div>
                </div>
            </div>

            <label for="observacion">Observación</label>
            <div class="d-flex justify-content-center">
                <textarea class="observation-field">{{ form.f_observacion }}</textarea>
            </div>

            <div class="d-flex justify-content-end mt-4">
                <div class="d-flex">
                    <button class="btn btn-user-cancel mx-1" href="{% url 'home' %}">Volver</a>
                    <button class="btn btn-user-success mx-1" type="submit">Guardar</button>
                </div>
            </div>
        </form>

        <div class="popup-container" id="popup-container">
            <div class="popup-content">
                <p id="error-message" class="error-message"></p>
                <button id="close-popup" class="close-popup">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}